apiVersion: v1
kind: Secret
metadata:
  name: central-api-db
  namespace: "{{ app_namespace }}"
type: Opaque
stringData:
  username: "{{ central_api_db_user }}"
  password: "{{ central_api_db_password }}"
