apiVersion: k8s.keycloak.org/v2alpha1
kind: Keycloak
metadata:
  name: keycloak
  namespace: "{{ keycloak_namespace }}"
spec:
  instances: {{ keycloak_instances }}
  db:
    vendor: postgres
    host: keycloak-db
    port: 5432
    database: "{{ keycloak_db_name }}"
    usernameSecret:
      name: keycloak-db-secret
      key: username
    passwordSecret:
      name: keycloak-db-secret
      key: password
  hostname:
    hostname: "keycloak-{{ keycloak_namespace }}.{{ ocp_apps_domain }}"
  http:
    httpEnabled: true
  proxy:
    headers: xforwarded
