apiVersion: v1
kind: Secret
metadata:
  name: keycloak-db-secret
  namespace: "{{ keycloak_namespace }}"
type: Opaque
stringData:
  username: "{{ keycloak_db_user }}"
  password: "{{ keycloak_db_password }}"
