apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: {{ cluster_secret_store }}
spec:
  provider:
    vault:
      server: {{ vault_address }}
      path: kv
      version: v2
      auth:
        kubernetes:
          mountPath: kubernetes
          role: rhdh-role
          serviceAccountRef:
            name: vault-auth
            namespace: {{ vault_namespace }}
