apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: publishing-house-credentials
  namespace: {{ app_namespace }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: {{ cluster_secret_store }}
  target:
    name: publishing-house-credentials
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      type: Opaque
  data:
    # API
    - secretKey: api-key
      remoteRef:
        key: {{ vault_secret_base_path }}/api
        property: api-key
    # GitHub
    - secretKey: github-token
      remoteRef:
        key: {{ vault_secret_base_path }}/github
        property: token
    # Jira
    - secretKey: jira-url
      remoteRef:
        key: {{ vault_secret_base_path }}/jira
        property: url
    - secretKey: jira-email
      remoteRef:
        key: {{ vault_secret_base_path }}/jira
        property: email
    - secretKey: jira-api-token
      remoteRef:
        key: {{ vault_secret_base_path }}/jira
        property: api-token
    # LiteLLM
    - secretKey: litellm-api-key
      remoteRef:
        key: {{ vault_secret_base_path }}/litellm
        property: api-key
    - secretKey: litellm-url
      remoteRef:
        key: {{ vault_secret_base_path }}/litellm
        property: url
    # PH Internal AI
    - secretKey: ph-internal-ai-api-key
      remoteRef:
        key: {{ vault_secret_base_path }}/ph-internal-ai
        property: api-key
    # RCARS
    - secretKey: rcars-url
      remoteRef:
        key: {{ vault_secret_base_path }}/rcars
        property: url
    - secretKey: rcars-api-key
      remoteRef:
        key: {{ vault_secret_base_path }}/rcars
        property: api-key
