apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: github-oauth-config
  namespace: "{{ devspaces_namespace }}"
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: "{{ cluster_secret_store }}"
  target:
    name: github-oauth-config
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      type: Opaque
      metadata:
        labels:
          app.kubernetes.io/part-of: che.eclipse.org
          app.kubernetes.io/component: oauth-scm-configuration
        annotations:
          che.eclipse.org/oauth-scm-server: github
  data:
    - secretKey: id
      remoteRef:
        key: "{{ devspaces_vault_path }}/github"
        property: client-id
    - secretKey: secret
      remoteRef:
        key: "{{ devspaces_vault_path }}/github"
        property: client-secret
