apiVersion: v1
kind: ConfigMap
metadata:
  name: central-api-spec
  namespace: "{{ app_namespace }}"
data:
  central-api.yaml: |
{{ lookup('template', 'central-api-spec.yaml.j2') | indent(4, first=true) }}
