apiVersion: v1
kind: Secret
metadata:
  name: sonataflow-postgresql-svcbind
  namespace: "{{ app_namespace }}"
type: Opaque
stringData:
  username: "{{ sonataflow_db_user }}"
  password: "{{ sonataflow_db_password }}"
