apiVersion: sonataflow.org/v1alpha08
kind: SonataFlowPlatform
metadata:
  name: sonataflow-platform
  namespace: "{{ app_namespace }}"
spec:
  build:
    config:
      registry: {}
      strategy: platform
      strategyOptions:
        MAVEN_ARGS: -DskipTests
        MAVEN_ARGS_APPEND: -DskipTests
      timeout: 5m0s
    template:
      buildArgs:
        - name: MAVEN_ARGS_APPEND
          value: "-DskipTests -Dquarkus.generate-code.skip=true"
      envs:
        - name: MAVEN_ARGS_APPEND
          value: "-DskipTests -Dquarkus.generate-code.skip=true"
      resources:
        limits:
          cpu: "4"
          memory: 4Gi
        requests:
          cpu: "2"
          memory: 2Gi
      timeout: 0s
  monitoring:
    enabled: true
  properties:
    flow:
      - name: quarkus.openapi-generator.central_api_yaml.auth.bearerAuth.bearer-token
        valueFrom:
          secretKeyRef:
            key: api-key
            name: publishing-house-credentials
      - name: org.kogito.workitem.rest.publishinghouseworkflowRestWorkItemHandler.url
        value: "https://central-api-{{ app_namespace }}.{{ ocp_apps_domain }}"
      - name: org.kogito.workitem.rest.url
        value: "https://central-api-{{ app_namespace }}.{{ ocp_apps_domain }}"
  services:
    dataIndex:
      enabled: true
      persistence:
        dbMigrationStrategy: service
        postgresql:
          secretRef:
            name: sonataflow-postgresql-svcbind
            passwordKey: password
            userKey: username
          serviceRef:
            databaseName: "{{ sonataflow_db_name }}"
            name: sonataflow-postgresql
            namespace: "{{ app_namespace }}"
    jobService:
      enabled: true
      persistence:
        dbMigrationStrategy: service
        postgresql:
          secretRef:
            name: sonataflow-postgresql-svcbind
            passwordKey: password
            userKey: username
          serviceRef:
            databaseName: "{{ sonataflow_db_name }}"
            name: sonataflow-postgresql
            namespace: "{{ app_namespace }}"
