apiVersion: v1
kind: ConfigMap
metadata:
  name: ph-developer-hub-dynamic-plugins
  namespace: "{{ app_namespace }}"
  labels:
    rhdh.redhat.com/ext-config-sync: "true"
data:
  dynamic-plugins.yaml: |
{{ lookup('template', 'dynamic-plugins.yaml.j2') | indent(4, first=true) }}
