apiVersion: v1
kind: ConfigMap
metadata:
  name: ph-developer-hub-app-config
  namespace: "{{ app_namespace }}"
  labels:
    rhdh.redhat.com/ext-config-sync: "true"
data:
  app-config.ph.yaml: |
{{ lookup('template', 'app-config.yaml.j2') | indent(4, first=true) }}
