apiVersion: v1
kind: LimitRange
metadata:
  name: publishing-house-defaults
  namespace: "{{ app_namespace }}"
spec:
  limits:
    - type: Container
      defaultRequest:
        cpu: 100m
        memory: 256Mi
      default:
        cpu: 500m
        memory: 512Mi
      min:
        cpu: 10m
        memory: 32Mi
      max:
        cpu: "4"
        memory: 4Gi
