apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ rhdh_instance_name }}-dynamic-plugins-root"
  namespace: "{{ app_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
