apiVersion: v1
kind: Secret
metadata:
  name: ph-developer-hub-env
  namespace: "{{ app_namespace }}"
type: Opaque
stringData:
  AUTH__OIDC__CLIENT__ID: rhdh
  AUTH__OIDC__CLIENT__SECRET: "{{ rhdh_client_secret }}"
  AUTH__OIDC__METADATA__URL: "https://keycloak-keycloak.{{ ocp_apps_domain }}/realms/publishing-house/.well-known/openid-configuration"
  BACKEND_SECRET: "{{ rhdh_backend_secret | default(rhdh_client_secret) }}"
  BACKEND_URL: "https://central-publishing-house-{{ app_namespace }}.{{ ocp_apps_domain }}"
  K8S_SERVICEACCOUNT_TOKEN: "{{ k8s_sa_token }}"
  KEYCLOAK__BASE__URL: "https://keycloak-keycloak.{{ ocp_apps_domain }}"
  KEYCLOAK__CLIENT__ID: rhdh
  KEYCLOAK__CLIENT__SECRET: "{{ rhdh_client_secret }}"
  KEYCLOAK__REALM: publishing-house
  PH__CATALOG__URL: "{{ ph_catalog_url | default('https://github.com/rhpds/rhdp-publishing-house/blob/main/templates/publishing-house-project/template.yaml') }}"
  GITHUB_TOKEN: "{{ github_token }}"
  PH_API_KEY: "{{ ph_api_key }}"
  NODE_TLS_REJECT_UNAUTHORIZED: "0"
