apiVersion: v1
kind: Secret
metadata:
  name: rhdh-k8s-integration
  namespace: "{{ app_namespace }}"
  annotations:
    kubernetes.io/service-account.name: rhdh-kubernetes-plugin
type: kubernetes.io/service-account-token
